@import 'tailwindcss';

@theme {
  --font-spartan: 'League Spartan Variable', sans-serif;
  --color-light-gray: #969696;
  --color-hover-card: #30303080;
  --color-hover-nav: #e6e6e6;
  --color-dark-bg: #0a0a0a7a;
  --color-bright-white: #ffffff;
  --color-html: #e54c21;
  --color-css: #66309a;
  --color-tailwind: #38bdf8;
  --color-javascript: #f7df1d;
  --color-typescript: #3178c6;
  --color-react: #00d8ff;
  --color-astro: #e744b0;
  --color-git: #f05033;
}
