---
import Layaout from '@/layouts/Layout.astro';
import PageContainer from '@/components/PageContainer.astro';
---

<Layaout>
  <PageContainer title="Sobre mi">
    <h1>Sobre mi</h1>
  </PageContainer>
</Layaout>
