---
const { title, id } = Astro.props;
import Back from './icons/Back.astro';
---

<section
  class="flex min-h-dvh w-full flex-col justify-between bg-dark-bg p-16 font-spartan text-white"
>
  <header class="flex items-center gap-6">
    <h1
      class="flex-shrink-0 text-4xl font-semibold whitespace-nowrap uppercase"
      transition:name={id}
    >
      {title}
    </h1>
    <hr class="w-full -translate-y-0.5 text-light-gray" />
  </header>
  <slot />
  <footer>
    <hr class="w-full text-light-gray" />
    <div class="mt-4 flex w-full justify-end">
      <a
        class="group flex cursor-pointer items-center gap-2 text-xl font-bold text-light-gray uppercase transition-colors duration-300 hover:text-hover-nav"
        href="/"
        ><Back
          class="size-8 transition-transform duration-300 group-hover:-translate-x-1.5"
        /> Atrás</a
      >
    </div>
  </footer>
</section>
